.Body{
  height: inherit;
  width: inherit;
  height: 90%;
}
.Headline{
  margin-top: 30px !important;
  text-align: center;
  background: #00acff;
}

#left-col{
  background-color: black;
  height: 100%;
}
#right-col{
  background-color: grey;
  height: 100%;
}
